{
  "presets": ["next/babel"],
  "plugins": [
    ["css-variable/babel", { "displayName": false }],
    [
      "styled-components",
      { "ssr": true, "displayName": false, "preprocess": false }
    ]
  ]
}
